.oswald{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  .source-code-pro {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }